 .two {
    display: -webkit-flex;
    display: flex;
    width: 90%;
    height: 50%;
    
}

.one {
    width: 30%;
    height: 30%;
    margin: 10px;
}
img{
    width:60%;
    height: 50%;
    border-radius: 10%;
    -webkit-filter: blur(4px);filter: blur(4px);
    
}
#footer{
    text-align: center;
    color: black;
    font-size: 12px;
}
